/* ---------------- Generic style ---------------- */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");

body {
  background-color: #eaefef;
  font-family: "Raleway", sans-serif;
  color: #183b4e;
}

.title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #7f8caa;
}

.section-divider {
  width: 30%;
  height: 2px;
  background-color: #7f8caa;
  border: none;
  margin: 25px auto;
}

.btn {
  width: 200px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #183b4e;
  border: #183b4e 3px solid;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
}

/* ---------------- Navbar ---------------- */
.custom-navbar {
  background-color: #333446;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #eaefef !important;
}

/* ---------------- Hero ---------------- */
.hero-wrapper {
  background-color: #7f8caa;
  height: 65px;
}

.hero-quote {
  font-family: "Noto Serif", serif;
  font-weight: 500;
  font-size: 10rem;
  color: #ec4e45;
  position: absolute;
  top: 50px;
  left: 10px; /* Move it to the left */
  line-height: 0.7;
  margin: 0;
  padding: 0;
  z-index: 1;
}

/* ---------------- Landing Page ---------------- */
.landing-img-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.landing-img {
  width: 100%;
  height: auto;
  display: block;
}

.landing-title {
  position: absolute;
  top: 28%; /* Vertical centre */
  left: 10%;
  transform: translateY(-50%);
  font-size: 3.5rem;
  z-index: 2;
  color: #eaefef;
}

.landing-btn {
  position: absolute;
  top: 60%; /* Vertical centre */
  left: 25%;
  z-index: 2;
}

/* ---------------- About Page ---------------- */
/* Portrait */
.portrait-container {
  display: flex;
  justify-content: center;
  margin-top: -30px; /* overlap upward */
  position: relative;
  z-index: 1;
}

.portrait-img {
  width: 180px;
  height: 180px;
  border-radius: 5%;
  object-fit: cover;
}

/* About Section */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.about-container h2 {
  font-size: 2.5rem;
  text-align: left;
}

.about-text {
  max-width: 90%;
  line-height: 1.6;
  font-size: 0.8rem;
}

.about-text p {
  text-align: justify;
}

/* highlight */
.highlight-text {
  font-size: 1.3rem;
  color: #ec4e45;
}

/* ---------------- Ouvrages Page ---------------- */
/* Book Cover */
.ouvrage-container {
  display: flex;
  justify-content: center;
  margin-top: -20px; /* overlap upward */
  position: relative;
  z-index: 1;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-img {
  width: 180px;
  object-fit: cover;
}

.book-summary {
  max-width: 70%;
  margin-bottom: 20px;
}

.book-summary h2 {
  font-size: 1.3rem;
  margin: 15px auto;
}

.book-summary p {
  font-size: 0.8rem;
  text-align: justify;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn-amazon {
  width: 140px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #27548a;
  border: #27548a 2px solid;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}
