/* ---------------- Generic style ---------------- */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'");

body {
  background-color: #f8f9fa;
  font-family: "Raleway", sans-serif;
  color: #333;
}

/* Decorative line */
.section-divider {
  width: 30%;
  height: 2px;
  background-color: #4c7b8b;
  border: none;
  margin: 25px auto;
}

/* Decorative quote */
.big-quote {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 6rem !important;
  color: #efb036;
  line-height: 0.7;
  margin: 0;
  padding: 0;
}

/* highlight */
.highlight-text {
  color: #efb036;
  font-size: 1rem;
  font-weight: 600;
}

/* ---------------- Navbar ---------------- */
.custom-navbar {
  background-color: #23486a;
}

.custom-navbar .navbar-brand {
  color: #efb036 !important;
}

.custom-navbar .nav-link {
  color: #eaefef !important;
}

/* ---------------- Hero ---------------- */
.hero-wrapper {
  background-color: #3b6790;
  height: 90px;
}

/* ---------------- About Page ---------------- */
/* Portrait */
.portrait-container {
  display: flex;
  justify-content: center;
  margin-top: -50px; /* overlap upward */
  position: relative;
  z-index: 1;
}

.portrait-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: #eaefef 2px solid;
  object-fit: cover;
}

/* About Section */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.about-title {
  font-weight: 600;
  font-size: 1.5rem;
  color: #23486a;
}

.about-text {
  max-width: 90%;
  line-height: 1.6;
  font-size: 0.8rem;
}

.about-text p {
  text-align: justify;
}

/* ---------------- Ouvrages Page ---------------- */
/* Book Cover */
.ouvrage-container {
  display: flex;
  justify-content: center;
  margin-top: -50px; /* overlap upward */
  position: relative;
  z-index: 1;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-img {
  width: 180px;
  border: #eaefef 2px solid;
  object-fit: cover;
}

.book-summary {
  max-width: 70%;
  margin-bottom: 20px;
}

.book-summary h2 {
  font-weight: 500;
  font-size: 1.3rem;
  color: #23486a;
  margin: 15px auto;
}

.book-summary p {
  font-size: 0.8rem;
  text-align: justify;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn-amazon {
  width: 140px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #23486a;
  border: #23486a 2px solid;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}

.btn-more {
  width: 140px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #23486a;
  border: #23486a 2px solid;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}
